/*font-family: 'Press Start 2P', cursive;*/
body{
    padding: 32px;
    background: #181C1F;
}
.conteudo{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto auto;
    grid-template-areas: 
        "botao"
        "numero__cartela";
    justify-items: center;
}

.btn__sortear{
    grid-area: botao;
    justify-self: center;
    margin-bottom: 1rem;
}
.sortear{
    background: #F7CD1F;
    font-size: 6rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0;
    border-bottom: 6px solid #ad911f;
    
}
.sortear:active{
    border-bottom: 0;
}

.cartela__container{
    grid-area: numero__cartela;
    background: #282C2F;
    border-radius: 10px;
    padding: 15px;
    width: 85%;
    box-sizing: border-box;
}

#cartela{
    color: white;
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#cartela p{
    border: 1px solid white;
    margin: 0 10px 10px 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:0) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}